/.idea/
/log/
/test1.py
/test2.py
/test/
/logs/
*.hypothesis/
*.pytest_cache/
*.git/
*.__pycache__/
*.pyc/
*.pyo/
*.bak/
*.coverage
allure-report/
allure-html/
swagger/
__pycache__/
.DS_Store
.coverage
Dockerfile
Dockerfile-allure
